:root {
  --line-color: #37474f;
  --normal-color: #bfe5fa;
  --ignored-color: #ffcdd2;
  --interrupt-color: #5ef5a7;
  --normal-color-border: #b1bfca;
  --ignored-color-border: #cb9ca1;
  --interrupt-color-border: #98be98;

  --prediction-line: #1e88e5;
  --prediction-extent: #bdbdbd;
  --prediction-normal: #e3f2fd;
  --prediction-interrupt: #c8e6c9;
  --prediction-normal-border: #b1bfca;
  --prediction-interrupt-border: #97b498;
  --prediction-incorrrect: #ffe0b2;
  --prediction-incorrrect-border: #cbae82;
}
